---
layout: default
---

  <main class="themeix-main-content">
      {% include about_section.html %}
      {% include education_section.html %}
      {% include internships_section.html %}
      {% include awards_section.html %}
      {% include teaching_section.html %}
      {% include scholarships_section.html %}
      {% include presentations_section.html %}
      {% include events_section.html %}
      {% include work_section.html %}
      {% include publications_section.html %}
      {% include projects_section.html %} 
      {% include contact_section.html %}
      {% include footer.html %}
  </main>