<!-- Start About -->
<section class="full-page clearfix" id="about">
    <div class="about">
        <div class="container-fluid">
            <div class="about-wrapper">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="about-content">
                            <h1>Naums Mogers</h1>
                            <h4>PhD student in AI and <span style="white-space: nowrap;">optimising compilation</span></h4>
                            <p>I am a second year PhD student in the <u><a href="http://pervasiveparallelism.inf.ed.ac.uk/">CDT Pervasive Parallelism</a></u> at the <u><a href="http://www.ed.ac.uk/">University of Edinburgh</a></u>. My PhD is supervised by <u><a href="https://cdubach.bitbucket.io/">Dr Christophe Dubach</a></u> and co-supervised by <u><a href="http://michel.steuwer.info/">Dr Michel Steuwer</a></u>; I am a member of the <u><a href="http://www.lift-project.org/">Lift research group</a></u>.</p>
                            <p>My research interests are <strong>deep neural networks</strong> (DNN), <strong>optimising compilation</strong> and optimisation of DNN for <strong>portable performance</strong>. I have worked on these topics within my PhD project, as a research intern at <strong>Microsoft Research</strong> and <strong>ARM</strong> and in a yearlong collaboration with <strong>Huawei</strong>. My research benefits from the diverse technical background I have: my past projects include a Scala and OpenCL framework for deep learning acceleration (PhD project), OpenCL and Python-based neural network-accelerated ant swarm simulation (Bachelor’s project) and two microcontroller-driven robots (funded projects for use in teaching). </p>
                            <p>In my studies and hobby projects, I worked with FPGAs, Raspberry Pi, Arduino and Mbed microcontrollers; in my research, I have worked with NVIDIA and ARM GPUs. My research includes extensive use of Caffe (desktop and Android), PyTorch and Tensorflow; in the six internships I did, I worked on an antivirus core in C, C++, Python and Bash, wrote websites using PHP, JavaScript and MySQL and developed accounting software in Visual Basic. I participate in teaching of algorithms, machine learning, Java and cognitive science. 
                            <p>For more information, see <u><a href="{{site.baseurl}}/assets/other/EDLA-2019.pdf">my talk slides</a></u>, <u><a href="{{site.baseurl}}/assets/other/hipeac_poster_naums_mogers.pdf">research poster</a></u> and <u><a href="http://www.lift-project.org/ml.html">project page</a></u>.</p>
                            <div class="clearfix">
                                <ul class="list-inline home-social-share float-left">
                                    <li class="list-inline-item"><a href="{{site.linkedin_url}}"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                    <li class="list-inline-item"><a href="{{site.github_url}}"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                                    <li class="list-inline-item"><a href="{{site.twitter_url}}"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    <li class="list-inline-item"><a href="{{site.youtube_url}}"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
                                    <li class="list-inline-item"><a href="{{site.facebook_url}}"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                </ul>
                                <a href="{{site.baseurl}}/assets/other/CV_Naums_Mogers.pdf" class="home-cv-btn btn btn-link float-right">download cv <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6" style="text-align: center">
                        <div class="profile-img">
                            <span style="display: inline-block; vertical-align: middle;height: 100%;"></span>
                            <img class="img-fluid lazyload" data-src="{{site.baseurl}}/assets/images/naums.png" alt="Naums Mogers" height="400" width="400">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End About  -->