<!-- Start Contact ===================================-->
<section class="full-page pd-0 clearfix" id="contact">
    <div class="contact">
        <div class="container-fluid">
            <div class="contact-wrapper text-center">
                <div class="section-title">
                    <div class="border-center"></div>
                    <h2>Contacts</h2>
                    <div class="border-center"></div>
                </div>
                <div class="contact-main">
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="contact-box  wow fadeIn text-center">
                                <div class="contact-box-logo">
                                    <!-- <img src="{{site.baseurl}}/assets/images/mouse.png" alt="services logo" /> -->
                                    <i class="fa fa-envelope" aria-hidden="true"></i>
                                </div>
                                <a href="#">
                                    <h5>e-mail address</h5>
                                </a>
                                <div class="contact-border"></div>
                                <a href="mailto:naums.mogers@gmail.com">naums.mogers@gmail.com</a>
                                <br>
                                <a href="mailto:naums.mogers@ed.ac.uk">naums.mogers@ed.ac.uk</a>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="contact-box  wow fadeIn text-center">
                                <div class="contact-box-logo">
                                    <!-- <img src="{{site.baseurl}}/assets/images/location.png" alt="services logo"/> -->
                                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                                </div>
                                <a href="#">
                                    <h5>location</h5>
                                </a>
                                <div class="contact-border"></div>
                                <p>
                                    Montreal, Canada
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Content -->
