<!-- Start Education -->
<section class="full-page clearfix" id="education">
    <div class="experiences">
        <div class="container-fluid">
            <div class="experiences-wrapper text-center">
                <div class="section-title" style="margin-top: 40px">
                    <h2>Education</h2>
                    <div class="border-center"></div>
                </div>
                <div class="experiences-info">
                    <div class="row">
                        {% for exp_data in site.data.education %}
                        <div class="col-md-6 col-sm-12">
                            <div class="experiences-info-wrapper wow fadeIn">
                                <div class="experiences-datetime">{{exp_data.year}}</div>
                                <h5 style="margin-right: 70px">{{exp_data.title}}</h5>
                                <span><i>{{exp_data.university}}</i></span>
                                <p>{{exp_data.desc}}</p>
                            </div>
                        </div>
                       {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Education -->