    <!-- Start Header -->
    <header class="themeix-aside">
        <!-- control bar -->
        <div class="control-bar menu-toggler">
            <div class="text-center">
              <span class="menu-toggle">
               <i class="chart"></i>
               <i class="chart"></i>
               <i class="chart"></i>
               </span>
            </div>
        </div>
        <!-- Start SlideMenu  -->
        <div class="themeix-slide-menu menu-open navbar-scrolled">
            <div class="themeix-fixed-nav">
                <!-- <div><a href="{{site.url}}"><img src="{{site.baseurl}}/assets/images/naums.jpg" alt="Naums Mogers"/></a></div> -->
                <div>&nbsp;<br>&nbsp;</div>
                    <nav> 
                    <ul class="themeix-nav-menu list-inline">
                        <li><a href="#about" class="btn-animated js-scroll-trigger menu-toggler">
                            <span><i class="fa fa-user"></i></span>about me</a></li>
                        <li><a href="#education" class="btn-animated js-scroll-trigger menu-toggler">
                            <span><i class="fa fa-university"></i></span>education</a></li>
                        <li><a href="#internships" class="btn-animated js-scroll-trigger menu-toggler">
                            <span><i class="fa fa-rocket"></i></span>Research</a></li>
                        <li><a href="#awards" class="btn-animated js-scroll-trigger menu-toggler">
                            <span><i class="fa fa-trophy"></i></span>Awards</a></li>
                        <li><a href="#teaching" class="btn-animated js-scroll-trigger menu-toggler">
                            <span><i class="fa fa-graduation-cap"></i></span>Teaching</a></li>
                        <li><a href="#scholarships" class="btn-animated js-scroll-trigger menu-toggler">
                            <span><i class="fa fa-euro"></i></span>Scholarships</a></li>
                        <li><a href="#presentations" class="btn-animated js-scroll-trigger menu-toggler">
                            <span><i class="fa fa-comment"></i></span>Presentations</a></li>
                        <li><a href="#events" class="btn-animated js-scroll-trigger menu-toggler">
                            <span><i class="fa fa-calendar"></i></span>Academic Events</a></li>
                        <li><a href="#work" class="btn-animated js-scroll-trigger menu-toggler">
                            <span><i class="fa fa-briefcase"></i></span>Work Experience</a></li>
                        <li><a href="#publications" class="btn-animated js-scroll-trigger menu-toggler">
                            <span><i class="fa fa-copy"></i></span>Publications</a></li>
                        <li><a href="#projects" class="btn-animated js-scroll-trigger menu-toggler">
                            <span><i class="fa fa-wrench"></i></span>Projects</a></li>
                        <li><a href="#contact" class="btn-animated js-scroll-trigger menu-toggler">
                            <span><i class="fa fa-address-book"></i></span>contacts</a></li>
                    </ul>
                </nav>
                <div class="homepage-copyright">
                <ul class="list-inline fixed-social-share">
                        <li class="list-inline-item"><a href="{{site.linkedin_url}}"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                        <li class="list-inline-item"><a href="{{site.github_url}}"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                        <li class="list-inline-item"><a href="{{site.twitter_url}}"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li class="list-inline-item"><a href="{{site.youtube_url}}"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
                        <li class="list-inline-item"><a href="{{site.facebook_url}}"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                </ul>
                </div>
            </div>
        </div>
     <!-- End SlideMenu ================-->
    </header>
    <!-- End Header -->