<!-- Start Projects -->
<section class="full-page pd-0 clearfix" id="projects">
    <div class="blog">
        <div class="container-fluid">
            <div class="blog-wrapper text-center">
                <div class="section-title">
                    <div class="border-center"></div>
                    <h2>Projects</h2>
                    <div class="border-center"></div>
                </div>
                <div class="single-blog" id="macy-container">
                {% for post in site.data.projects %}
                <div class="single-blog-wrapper wow fadeIn text-left">
                    <div class="single-blog-img">
                        <a href="#" data-toggle="modal" data-target="#blog_details-{{project.post_id}}"><img src="{{project.image}}" alt="{{project.title}}"/></a>
                    </div>
                    <div class="single-blog-content">
                        <a href="#" data-toggle="modal" data-target="#blog_details-{{project.post_id}}"><b>{{project.title}}</b></a>
                        <p><a href="#" data-toggle="modal" data-target="#blog_details-{{project.post_id}}">{{ project.content | strip_html | truncatewords: 18 }}</a></p>

                        <div class="modal fade" id="blog_details-{{project.post_id}}">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title">{{ project.title }}</h4>
                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                         <span class="fa fa-times" aria-hidden="true"></span>
                                     </button>
                                    </div>
                                    <div class="modal-body">
                                        <p>{{ project.content }}</p>
                                        <p>{{ project.resources }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                  </div>
                  {% endfor %}
                </div>
                
            </div>
        </div>
    </div>
</section>
<!-- End Projects -->