<!DOCTYPE HTML>
<html lang="zxx">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-85973276-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-85973276-1');
    </script>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content="themeix description"/>
    <meta name="themeix" content="iBlog blog site"/>
    <title>{{site.title}}</title>
    <!--call favicon icon-->
    <link rel="icon" href="{{site.baseurl}}/assets/images/minime.jpg" type="image/x-icon"/>
    <!-- Bootstrap core CSS -->
    <link rel="preload" href="{{site.baseurl}}/assets/css/bootstrap.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'"/>
    <noscript><link rel="stylesheet" href="{{site.baseurl}}/assets/css/bootstrap.min.css"></noscript>
	<!-- animated style -->
    <link rel="preload" href="{{site.baseurl}}/assets/css/animate.css" as="style" onload="this.onload=null;this.rel='stylesheet'"/>
    <noscript><link rel="stylesheet" href="{{site.baseurl}}/assets/css/animate.css"></noscript>
    <!-- Font-awesome style -->
    <link rel="preload" href="{{site.baseurl}}/assets/css/font-awesome.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'"/>
    <noscript><link rel="stylesheet" href="{{site.baseurl}}/assets/css/font-awesome.min.css"></noscript>
    <!-- lightbox style -->
    <link rel="preload" href="{{site.baseurl}}/assets/css/lightbox.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'"/>
    <noscript><link rel="stylesheet" href="{{site.baseurl}}/assets/css/lightbox.min.css"></noscript>
    <!-- Custom styles -->
    <link rel="preload" href="{{site.baseurl}}/assets/css/style.css" as="style" onload="this.onload=null;this.rel='stylesheet'"/>
    <noscript><link rel="stylesheet" href="{{site.baseurl}}/assets/css/style.css"></noscript>
    <!-- Custom responsive styles -->
    <link rel="preload" href="{{site.baseurl}}/assets/css/responsive.css" as="style" onload="this.onload=null;this.rel='stylesheet'"/>
    <noscript><link rel="stylesheet" href="{{site.baseurl}}/assets/css/responsive.css"></noscript>
    <!--call lora font stylesheet-->
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Roboto:300,400,600" as="style" onload="this.onload=null;this.rel='stylesheet'"/>
    <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,600"></noscript>
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Montserrat:400,700" as="style" onload="this.onload=null;this.rel='stylesheet'"/>
    <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700"></noscript>
    <script>
    /*! loadCSS. [c]2017 Filament Group, Inc. MIT License */
/* This file is meant as a standalone workflow for
- testing support for link[rel=preload]
- enabling async CSS loading in browsers that do not support rel=preload
- applying rel preload css once loaded, whether supported or not.
*/
(function( w ){
	"use strict";
	// rel=preload support test
	if( !w.loadCSS ){
		w.loadCSS = function(){};
	}
	// define on the loadCSS obj
	var rp = loadCSS.relpreload = {};
	// rel=preload feature support test
	// runs once and returns a function for compat purposes
	rp.support = (function(){
		var ret;
		try {
			ret = w.document.createElement( "link" ).relList.supports( "preload" );
		} catch (e) {
			ret = false;
		}
		return function(){
			return ret;
		};
	})();

	// if preload isn't supported, get an asynchronous load by using a non-matching media attribute
	// then change that media back to its intended value on load
	rp.bindMediaToggle = function( link ){
		// remember existing media attr for ultimate state, or default to 'all'
		var finalMedia = link.media || "all";

		function enableStylesheet(){
			// unbind listeners
			if( link.addEventListener ){
				link.removeEventListener( "load", enableStylesheet );
			} else if( link.attachEvent ){
				link.detachEvent( "onload", enableStylesheet );
			}
			link.setAttribute( "onload", null ); 
			link.media = finalMedia;
		}

		// bind load handlers to enable media
		if( link.addEventListener ){
			link.addEventListener( "load", enableStylesheet );
		} else if( link.attachEvent ){
			link.attachEvent( "onload", enableStylesheet );
		}

		// Set rel and non-applicable media type to start an async request
		// note: timeout allows this to happen async to let rendering continue in IE
		setTimeout(function(){
			link.rel = "stylesheet";
			link.media = "only x";
		});
		// also enable media after 3 seconds,
		// which will catch very old browsers (android 2.x, old firefox) that don't support onload on link
		setTimeout( enableStylesheet, 3000 );
	};

	// loop through link elements in DOM
	rp.poly = function(){
		// double check this to prevent external calls from running
		if( rp.support() ){
			return;
		}
		var links = w.document.getElementsByTagName( "link" );
		for( var i = 0; i < links.length; i++ ){
			var link = links[ i ];
			// qualify links to those with rel=preload and as=style attrs
			if( link.rel === "preload" && link.getAttribute( "as" ) === "style" && !link.getAttribute( "data-loadcss" ) ){
				// prevent rerunning on link
				link.setAttribute( "data-loadcss", true );
				// bind listeners to toggle media back
				rp.bindMediaToggle( link );
			}
		}
	};

	// if unsupported, run the polyfill
	if( !rp.support() ){
		// run once at least
		rp.poly();

		// rerun poly on an interval until onload
		var run = w.setInterval( rp.poly, 500 );
		if( w.addEventListener ){
			w.addEventListener( "load", function(){
				rp.poly();
				w.clearInterval( run );
			} );
		} else if( w.attachEvent ){
			w.attachEvent( "onload", function(){
				rp.poly();
				w.clearInterval( run );
			} );
		}
	}


	// commonjs
	if( typeof exports !== "undefined" ){
		exports.loadCSS = loadCSS;
	}
	else {
		w.loadCSS = loadCSS;
	}
}( typeof global !== "undefined" ? global : this ) );
</script>
</head>

<body data-spy="scroll" data-target=".navbar-scrolled" data-offset="0" class="scrollspy-example loading">
    {% include header.html %}

     {{ content }}

    <!-- Start Loading ===================================-->
    <div class="loading">
        <div class="sk-folding-cube">
            <div class="sk-cube1 sk-cube"></div>
            <div class="sk-cube2 sk-cube"></div>
            <div class="sk-cube4 sk-cube"></div>
            <div class="sk-cube3 sk-cube"></div>
        </div>
    </div>
    <!-- End Loading ==================-->
    <!-- Call plugin File -->   
    <script src="{{site.baseurl}}/assets/js/jquery.min.js" defer></script>
    <script src="{{site.baseurl}}/assets/js/popper.min.js" defer></script>
    <script src="{{site.baseurl}}/assets/js/bootstrap.min.js" defer></script>
    <script src="{{site.baseurl}}/assets/js/jquery.easing.min.js" defer></script>
    <script src="{{site.baseurl}}/assets/js/isotope.pkgd.min.js" defer></script>
    <script src="{{site.baseurl}}/assets/js/lightbox.min.js" defer></script>
    <script src="{{site.baseurl}}/assets/js/macy.min.js" defer></script>
    <script src="{{site.baseurl}}/assets/js/wow.min.js" defer></script>
    <script src="{{site.baseurl}}/assets/js/custom.js" defer></script>
    <script src="{{site.baseurl}}/assets/js/lazysizes.min.js" async=""></script>
</body>

</html>
